[Unit]
Description=Daily KS Plausible backup

[Timer]
OnCalendar=*-*-* 04:25:00 UTC
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
